.blogs_new_comments_frm{ _padding: 0 0 0 65px; }
.blogs_new td .blogs_new_tb_sub td.first img{ width: 27px !important; }
.blogs_new .bl_search{ margin: 1px 10px 0 0 !important; }
.blogs_new td .blogs_new_tb_sub td{ height: 31px; }
.blogs_new td .blogs_new_tb_sub_r td{ height: 22px; padding: 3px 0 0; vertical-align: top; }
.blogs_new_w1{ _margin: 0 -5px 0 0; }
.blogs_new .new_mode_bl_dblue_delete{ _margin: -15px 10px 0 0; }
.blogs_new td .blogs_new_tb_sub_r td{ height: 19px; }
.blogs_new td .blogs_new_tb_sub th.th_t_c{ height: 16px; padding: 4px 0 0;}
.blogs_new input.btn_blue {position:relative;margin-top:1px;padding-bottom:2px;margin-left:5px; line-height:15px !important;}
.blogs_new input.btn_blue_img {position:relative;margin-top:1px;padding-bottom:2px; line-height:15px !important;}
.blogs_new_head_pad {padding-left:14px;}
.blogs_new input.inp_lblue  {margin-right:10px;}
.blogs_new input.btn_red{line-height:15px !important; }
.blogs_new h1.w input.btn_red_img{margin-top:-22px; margin-left:65px; line-height:15px !important;}
.blogs_new input.btn_red_img{line-height:15px !important;}
.blogs_new td .bl_blogs_new_frm .blogs_new_bl_m a.blogs_new_bl_m_img{ margin: -4px 0 0; display: block; float: left; }
.blogs_new_bl_m{ margin: -5px 0 0 -10px; }
.blogs_new input.btn_lred_img{ line-height:15px !important; }


