/*-- general --*/
.blogs_new .justify{ clear: left; font-size: 0; line-height: 0; height: 0; margin: 0; padding:0;}
.blogs_new .fl_left{ float: left;}
.blogs_new .fl_right{ float: right; }
.blogs_new .cl{ font-size: 0; line-height: 0; height: 0; margin: 0; padding: 0; clear: both; }
.blogs_new input[type="text"] { visibility:visible;}
/*-- /general --*/
/*-- global --*/
.blogs_new{ font-family: Tahoma; width: 700px; color: #fff; font-size: 11px; line-height: 13px; position: relative; } /**/
.blogs_new table{ width: 100%; border-collapse: collapse; border: 0; table-layout: fixed; }
.blogs_new table td{ padding: 0; }
.blogs_new a{ text-decoration: underline; }
.blogs_new a:hover{ text-decoration: none; }
.blogs_new h1{font-size: 24px; line-height: 30px; height: auto; font-family: Arial; font-weight: normal; padding: 0; margin: 0 0 10px 0; _margin-bottom:7px;}
.blogs_new h1.w { width:320px; margin-left:10px;}
.blogs_new h1 input.btn_red_img{margin-top:4px;}
.blogs_new  .header_btn {margin-top:5px;}
.blogs_new h1.blue{ color: #d0faff;}
.blogs_new h1.blue .blog_icon img{vertical-align:bottom;_behavior: url("./_frameworks/main/new_age/css/iepngfix.htc");}
.blogs_new img.blue { vertical-align: middle; border: 1px solid #c7f4f9; }
.blogs_new h1.blue span{ color: #fff; }
.blogs_new h1.bordo{ color: #fd272b; white-space: nowrap; margin: 0 0 0 -6px; }
.blogs_new h1.bordo img{ vertical-align: middle; margin: -7px 0 0; _behavior: url("./_frameworks/main/new_age/css/iepngfix.htc");}
.blogs_new img{ border: 0; }
.blogs_new ul li{ list-style-type: none; }
.blogs_new p{ padding: 0; margin: 0; }
.blogs_new textarea{ margin: 0 0 15px;  vertical-align: middle; font-size: 11px; font-family: Tahoma; border: none; overflow: auto; }
.blogs_new select{ margin: 0; padding: 0; vertical-align: middle; font-size: 11px; line-height: 18px; height: 18px; width: 390px; color: #eaade7; }
.blogs_new input{ margin: 0; padding: 0 5px 2px; border: none; vertical-align: middle; font-size: 11px; line-height: 16px; height: 19px; font-family: Tahoma; visibility:visible;}

.blogs_new input, x:-moz-any-link{ height: auto; padding: 1px 5px 4px;top:0px !important; }

/*-- /global --*/
.blogs_new_empty{ margin: 0 0 40px; clear: both; }
.blogs_new input.inp_blue{ background: url(../images/blogs/inp_blue.png) 0 0 no-repeat; width: 116px; color: #c0ebea; margin: 2px 0 0; }
.webkit .blogs_new input.inp_blue {margin:0;}
.blogs_new input.inp_blue, x:-moz-any-link{ margin: -1px 0 0; }
.webkit .blogs_new input.inp_blue {margin:0px;padding:0 5px;height:18px;}
.blogs_new textarea.textarea_mblue{  width: 410px; height: 280px;  margin: 0; color: #fff;#position:relative;#left:-9px;background:transparent;}
div.blogs_write_textarea {background: url(../images/blogs/textarea_mblue.png) 0 0 no-repeat;width: 423px;padding: 5px;_background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./_frameworks/main/new_age/images/blogs/textarea_mblue.png', sizingMethod='crop'); }

.blogs_new input.inp_blue_save{ background: url(../images/blogs/inp_blue_save.png) 0 0 no-repeat; width: 369px; color: #c0ebea; float: left;

}
.blogs_new input.inp_mblue{ background: url(../images/blogs/inp_mblue.png) 0 0 no-repeat; width: 418px; color: #c0ebea;}
.blogs_new input.inp_lblue{line-height:14px; background: url(../images/blogs/inp_lblue.png) 0 0 no-repeat; width: 303px; color: #c0ebea;position:relative;}
.webkit .blogs_new input.inp_lblue {height:18px;padding:0px 5px;}
.gecko .blogs_new input.inp_lblue{padding-top:2px;}
.blogs_new input.btn_blue_img{ background: url(../images/blogs/btn_blue_img.png) 0 0 no-repeat; width: 118px; color: #fff; cursor: pointer; padding-right: 10px; position:relative;top:1px;_line-height:10px; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./_frameworks/main/new_age/images/blogs/btn_blue_img.png', sizingMethod='crop');_position:relative;_top:0px;}
.webkit .blogs_new input.btn_blue_img {top:0px;}
.blogs_new input.btn_lred_img{ background: url(../images/blogs/btn_lred_img.png) 0 0 no-repeat; width: 118px; color: #fff; cursor: pointer; padding-right: 10px; margin: 0px 0 0; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./_frameworks/main/new_age/images/blogs/btn_lred_img.png', sizingMethod='crop'); }

.blogs_new input.btn_red_arrow_left{
	background: #ee4734 url(../images/blogs/btn_arrows_left.png) 7px 7px no-repeat;
	color: #fff; cursor: pointer;
  font-size: 11px; padding: 0 7px 0 20px; margin: 0;
  height:18px; 1line-height: 18px;
  position: relative; border-radius: 5px; }
@-moz-document url-prefix() {
	.blogs_new input.btn_red_arrow_left {
		padding: 1px 7px 2px 20px;
	}
}
.blogs_new input.btn_red{ background: url(../images/blogs/btn_red.png) 0 0 no-repeat; width: 46px; color: #fff; cursor: pointer; float: right; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./_frameworks/main/new_age/images/blogs/btn_red.png', sizingMethod='crop'); }
/*.blogs_new input.btn_blue{ background: url(../images/blogs/btn_blue.png) 0 0 no-repeat; width: 67px; color: #fff; cursor: pointer; margin-left:10px;_background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./_frameworks/main/new_age/images/blogs/btn_blue.png', sizingMethod='crop'); _position:relative;_top:-1px;_line-height:10px;}
*/.blogs_new input.btn_blue{ background: #68cecc; color: #fff; cursor: pointer; margin: -2px 0 0 10px; height:18px; line-height: 17px; padding: 1px 10px 2px;
	 behavior: url(_frameworks/main/new_age/css/PIE.htc); position: relative; border-radius: 10px; -moz-border-radius: 10px;}
.blogs_new input.inp_file{ width: 85px;  cursor:pointer;}
.blogs_new_head{ color: #999fbb; }
.blogs_new_head strong{ color: #fff; }
.blogs_new_head_txt{ float: left; padding:0; color: #ee4734; line-height:16px; _margin-top:1px;}
.webkit .blogs_new_head_txt{ line-height:18px;}
.blogs_new_head td{ height: 30px; }
.blogs_new_head td.td_l{ background: url(../images/blogs/head_l.png) 0 0 no-repeat; width: 9px; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./_frameworks/main/new_age/images/blogs/head_l.png', sizingMethod='crop'); }
.blogs_new_head td.td_r{ background: url(../images/blogs/head_r.png) 0 0 no-repeat; width: 9px; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./_frameworks/main/new_age/images/blogs/head_r.png', sizingMethod='crop'); }
.blogs_new_head td.td_c{ background: #000; vertical-align:middle;height:29px;}
.blogs_new_head_l{ background: url(../images/blogs/bl_places_head_l.png) 0 0 no-repeat; width: 9px; height: 30px; float: left; }
.blogs_new_head_r{ background: url(../images/blogs/bl_places_head_r.png) 0 0 no-repeat; width: 9px; height: 30px; float: right; }
.blogs_new_head_c{ background: #000; height: 30px; margin: 0 9px;  }
.blogs_new_head_pad{ padding: 0px 0 0 18px;}
.blogs_new_menu_bg{ background: #d0faff; height: 18px; }
ul.blogs_new_menu{ margin: 0; padding: 0 0 0 10px; height: 18px; }
ul.blogs_new_menu li{ margin: 0 5px 0 0; padding: 0 5px 0 0; float: left; font-size: 9px; line-height: 17px; background: url(../images/blogs/menu_marker.gif) 100% 4px no-repeat; color: #7f9339; }
ul.blogs_new_menu li.last{ background: none; }
ul.blogs_new_menu li a{ color: #000; }
.blogs_new td .blogs_new_tb_sub{ margin: 0 0 15px;}
.blogs_new td .blogs_new_tb_sub th{ color: #fff; font-weight: normal; text-align: left; padding: 0; line-height: 12px; vertical-align: top; }
.blogs_new td .blogs_new_tb_sub th span{ padding: 0 0 0 5px; }
.blogs_new td .blogs_new_tb_sub th.first{ padding: 0; }
.blogs_new td .blogs_new_tb_sub th.th_t_l{ background: transparent url(../images/blogs/tb_sub_head_l.png) 0 0 no-repeat; width: 7px; height: 20px; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./_frameworks/main/new_age/images/blogs/tb_sub_head_l.png', sizingMethod='crop'); }
.blogs_new td .blogs_new_tb_sub th.th_t_r{ background: transparent url(../images/blogs/tb_sub_head_r.png) 0 0 no-repeat; width: 7px; height: 20px; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./_frameworks/main/new_age/images/blogs/tb_sub_head_r.png', sizingMethod='crop'); }
.blogs_new td .blogs_new_tb_sub th.th_t_c{ background:#75c7c5; padding: 3px 0 0; }
.blogs_new td .blogs_new_tb_sub th.th_t_b{ width:1px; background:#75c7c5 url(../images/blogs/dashed.gif) 100% 0% repeat-y;}
.blogs_new td .blogs_new_tb_sub th.th_t_c ul.blogs_new_paging{ float: right; }
.blogs_new td .blogs_new_tb_sub th.th_t_c ul.blogs_new_paging li{ color: #fff; }
.blogs_new td .blogs_new_tb_sub th.th_t_c ul.blogs_new_paging li a{ color: #fff; }
.blogs_new td .blogs_new_tb_sub td.first{ padding: 0;}
.blogs_new td .blogs_new_tb_sub td.first img, x:-moz-any-link{ width: 26px; }
.blogs_new td .blogs_new_tb_sub td.first img {position:relative;top:-1px;left:1px;#left:0px;}
.blogs_new td .blogs_new_tb_sub td.b{ width:1px; background:#018e8c url(../images/blogs/dashed.gif) 100% 0% repeat-y;}
.blogs_new td .blogs_new_tb_sub td.r{ text-align: right; padding-right: 5px; }
.blogs_new td .blogs_new_tb_sub td.c{ text-align: center; }
.blogs_new td .blogs_new_tb_sub td.c a{ margin: 0; }
.blogs_new td .blogs_new_tb_sub td.play{ vertical-align: middle; padding: 0; }
.blogs_new td .blogs_new_tb_sub td{ background: url(../images/blogs/tb_sub_bg.gif) 0 0 repeat-x; height: 31px; vertical-align: middle; overflow: hidden; }
.blogs_new td .blogs_new_tb_sub td.color{ background: url(../images/blogs/tb_sub2_bg.gif) 0 0 repeat-x; }
.blogs_new td .blogs_new_tb_sub td.nobg_img{ background: #018e8c; }
.blogs_new td .blogs_new_tb_sub td a{ color: #fff; display: inline; margin: 0px;}
.blogs_new td .blogs_new_tb_sub td span{ display: block; margin: 0 0 0 5px; color: #a0dad9; }
.blogs_new td .blogs_new_tb_sub td span i{ font-style: normal; color: #fff; }
.blogs_new td .blogs_new_tb_sub td a.foto{ margin: 0; }
.blogs_new td .blogs_new_tb_sub td a.lblue{ color: #a0dad9; }
.blogs_new td .blogs_new_tb_sub_r td{ background: url(../images/blogs/tb_sub_r_bg.gif) 0 0 repeat-x; height: 22px; }
.blogs_new td .blogs_new_tb_sub th.th_b_l{ background: url(../images/blogs/tb_sub_foot_l.png) 0 0 no-repeat; width: 7px; height: 17px; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./_frameworks/main/new_age/images/blogs/tb_sub_foot_l.png', sizingMethod='crop'); }
.blogs_new td .blogs_new_tb_sub th.th_b_r{ background: url(../images/blogs/tb_sub_foot_r.png) 0 0 no-repeat; width: 7px; height: 17px; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./_frameworks/main/new_age/images/blogs/tb_sub_foot_r.png', sizingMethod='crop'); }
.blogs_new td .blogs_new_tb_sub th.th_b_c{ background: #d90307; height: 17px; }
.blogs_new .bl_search{ margin: 2px 10px 0 0; }
.blogs_new .bl_search, x:-moz-any-link{ margin: 4px 10px 0 0;}
.blogs_new_search{ margin:0 0 10px; height: 20px; position: relative;}
/*-- td_main --*/
.tb_blogs_new td{ vertical-align: top; }
.tb_blogs_new td.td_main{ width: 464px; background: #43a7a3 url(../images/blogs/td_main_bg.gif) 100% 0 repeat-y; }
.blogs_new_decor{ background: #3ea7a2 url(../images/blogs/decor_blue.jpg) 100% 0 no-repeat; height: 209px; padding: 0 10px; margin: 0; overflow: hidden; }
.blogs_new_decor_violet{ background: #95608e url(../images/blogs/blogs_new_decor_violet.jpg) 100% 0 no-repeat; height: 238px; padding: 0 10px; margin: 0; overflow: hidden; }
.blogs_new_p{ padding: 0 10px;}
.blogs_new .pl_top{ padding-top:10px;}
.blogs_new .pl_top_m{ margin-top: -35px;}
.blogs_new .pl_right{ text-align: right;}
.blogs_new_shadow{ text-align: right;}
.blogs_new_shadow img {_behavior: url("./_frameworks/main/new_age/css/iepngfix.htc");}
.tb_blogs_new_frm{ margin: 0;}
.tb_blogs_new_frm th{ font-weight: normal; text-align: right; color: #eaade7; vertical-align: top; padding: 0 4px 20px; line-height: 14px; width: 43px;}
.blogs_new_img{ float: left; position: relative; margin: 0 5px 10px 0;}
.blogs_new_img img{ border: 1px solid #d0faff;}
.blogs_new_delete{ position: absolute; top: 3px; right: 4px; z-index: 2;}
.blogs_new_delete img{ border: none;}
.bl_blogs_new_frm{ margin:9px; line-height:17px;}
.bl_blogs_new_frm p{ line-height: 17px; margin: 0 0 10px;}
.blogs_new td .bl_blogs_new_frm p a{ display: inline;}
.bl_blogs_new_frm label{ color: #a0dad9; padding: 0 0 0 2px; line-height: 20px; display: block; cursor:default;}
.bl_blogs_new_frm input{ margin: 0 0 10px;}
.bl_blogs_new_frm textarea{ margin: 0 0 10px !important;}
.blogs_new_bloggers{ width: 74px; float: left; color: #000; font-size: 9px; line-height: 15px; #position:relative;#top:-10px;}
.blogs_new_bloggers img{ border: 2px solid #d0faff;}
.blogs_new_bloggers a{ font-weight: bold; color: #fff;}
.blogs_new_bloggers_pos{ position: relative;}
.blogs_new_bloggers_pos a{ text-decoration: none;}
.blogs_new_number{ width: 30px; height: 27px; position: absolute; top: 45px; left: 34px; font-weight: bold; font-size: 24px; line-height: 25px; color: #fff; text-align: center; cursor: pointer;}
.blogs_new  .foto_decor_1{ background: url(../images/blogs/foto_decor_red.png) 0 0 no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./_frameworks/main/new_age/images/blogs/foto_decor_red.png', sizingMethod='crop');}
.blogs_new  .foto_decor_2{ background: url(../images/blogs/foto_decor_orange.png) 0 0 no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./_frameworks/main/new_age/images/blogs/foto_decor_orange.png', sizingMethod='crop');}
.blogs_new  .foto_decor_3{ background: url(../images/blogs/foto_decor_yellow.png) 0 0 no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./_frameworks/main/new_age/images/blogs/foto_decor_yellow.png', sizingMethod='crop');}
.blogs_new  .foto_decor_4{ background: url(../images/blogs/foto_decor_green.png) 0 0 no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./_frameworks/main/new_age/images/blogs/foto_decor_green.png', sizingMethod='crop');}
.blogs_new  .foto_decor_5{ background: url(../images/blogs/foto_decor_blue1.png) 0 0 no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./_frameworks/main/new_age/images/blogs/foto_decor_blue1.png', sizingMethod='crop');}
.blogs_new  .foto_decor_6{ background: url(../images/blogs/foto_decor_blue2.png) 0 0 no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./_frameworks/main/new_age/images/blogs/foto_decor_blue2.png', sizingMethod='crop');}
.blogs_new .bg_rblog{ background: url(../images/blogs/bg_rblog.png) 0 0 no-repeat; width: 71px; height: 18px; text-align: center; margin: 3px 0 2px -7px; position: relative; _behavior: url("./_frameworks/main/new_age/css/iepngfix.htc");}
.blogs_new .bg_rblog a{ display: block; width: 71px; font-size: 11px; height: 18px; text-align: center; line-height: 17px; text-decoration: none;}
.blogs_new_title_bl{ height: 18px; margin: 0 0 10px -10px;}
.blogs_new td .blogs_new_tb_sub td .blogs_new_title_bl p{ float: left; padding: 0 0 0 8px; color: #d0faff; white-space: nowrap;}
.blogs_new td .blogs_new_tb_sub td .blogs_new_title_bl a{ margin: 0; color: #d0faff; }
.blogs_new_title{ background: #d0faff; float: left; color: #026f6d; font-weight: bold; height: 16px; padding: 2px 10px 0 8px; #padding-left:6px; line-height:12px;#line-height:13px;}
.blogs_new_title a{ text-decoration: none; color: #026f6d;}
.blogs_new_title_decor{ background: url(../images/blogs/new_mods_title_decor.png) 0 0 no-repeat; width: 6px; height: 18px; float: left;_background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./_frameworks/main/new_age/images/blogs/new_mods_title_decor.png', sizingMethod='crop');}
.blogs_new_bl_infa{ padding: 0 10px 0 10px;}
.blogs_new_bl_infa p{padding-left:35px;}
.blogs_new_bl_m{ margin: -4px 0 0 -10px;}
.blogs_new td .bl_blogs_new_frm .blogs_new_bl_m a.blogs_new_bl_m_img{ margin: -6px 0 0; display: block; float: left;}
.blogs_new td .bl_blogs_new_frm .blogs_new_bl_m a{ display: inline; margin: 0;}
.bl_blogs_new_frm ul.blogs_new_data{ margin: 10px 0 0 0; padding: 0; float: left; _margin:0; }
.bl_blogs_new_frm ul.blogs_new_data li{ margin: 0 5px 0 0; padding: 0 5px 10px 0; font-size: 9px; color: #a0dad9; float: left; background: url(../images/blogs/list_marker_blue.gif) 100% 3px no-repeat;}
.bl_blogs_new_frm ul.blogs_new_data li a{ margin: 0; padding: 0; color: #a0dad9;}
.bl_blogs_new_frm ul.blogs_new_data li.list{ background: none;}
.bl_blogs_new_frm ul.blogs_new_data li.p{ padding: 0; background: none;}
.bl_blogs_new_frm ul.blogs_new_data li.decor{ background: url(../images/blogs/bl_dblue_decor.gif) 28px 100% no-repeat; text-align: center; margin: 0;}
.blogs_new td .bl_blogs_new_frm .new_mode_bl_dblue{ position: relative; margin: 0 0 2px;}
.blogs_new td .bl_blogs_new_frm .new_mode_bl_dblue_top{ background: url(../images/blogs/bl_dblue_top.png) 0 0 no-repeat; height: 7px; line-height: 0; font-size: 0;}
.blogs_new td .bl_blogs_new_frm .new_mode_bl_dblue_bot{ background: url(../images/blogs/bl_dblue_bot.png) 0 0 no-repeat; height: 7px; line-height: 0; font-size: 0;}
.blogs_new td .bl_blogs_new_frm .new_mode_bl_dblue_c{ background: #026f6d; padding: 0 5px; font-size: 9px; line-height: 14px; color: #bdeae9;overflow:hidden;}
.blogs_new td .bl_blogs_new_frm .new_mode_bl_dblue_c a{ display: inline; margin: 0;}
.blogs_new td .bl_blogs_new_frm .new_mode_bl_dblue_c img{ position: relative;}
.blogs_new td .bl_blogs_new_frm .new_mode_bl_dblue_c span{ margin: 0; color: #fff;}
.blogs_new td .bl_blogs_new_frm .new_mode_bl_dblue_txt{ padding: 0 0 0 27px;}
.blogs_new .new_mode_bl_dblue_delete{ position: absolute; right: 1px; margin: -15px 0 0;}
.blogs_new .new_mode_line{ background: url(../images/blogs/line.gif) 0 0 repeat-x; height: 2px; line-height: 0; font-size: 0; margin: 0 -10px 10px -10px; clear: both;}
.blogs_video, .blogs_new_img_frame{ margin: 0 0 10px; border: 1px solid #caf7fb; width:424px; background-color:#017876;}
.blogs_new td .bl_blogs_new_frm .blogs_new_img_frame a{ display: inline; margin: 0;}
.blogs_new td .bl_blogs_new_frm .blogs_video a{ display: inline; margin: 0;}
/*-- /td_main --*/
/*-- narrow --*/
.tb_blogs_new td.td_narrow{ background: #007371 url(../images/blogs/line_dashed_v2.gif) 0 0 repeat-y; padding: 10px 10px 0 10px;}
.tb_blogs_new td.td_narrow p{ line-height: 17px; padding: 0 0 5px;}

/*.blogs_new_pl_blue{ margin: 0 5px 16px 10px; background: url(../images/blogs/pl_blue_bg.png) 0 0 repeat; 1width: 216px; position: relative; height: 26px; }
*/
/*.blogs_new_pl_blue{ position: relative; float: left; margin: 0 -27px 0 0; }
*/.blogs_new_pl_blue{ margin: 0 0 20px 0; height: 26px; background: url(../images/blogs/pl_blue_bg.png) 0 0 repeat; width: 225px; border-radius: 15px 0 0 15px; -moz-border-radius: 15px 0 0 15px; }

.blogs_new_w1{ width: 180px; margin: 0 -10px 0 0;}
.blogs_new_pl_blue_l{ background: url(../images/blogs/pl_blue_l.png) 0 0 no-repeat; width: 12px; height: 26px; float: left; margin: 0 0 0 -10px; position: relative; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./_frameworks/main/new_age/images/blogs/pl_blue_l.png', sizingMethod='crop');}
.blogs_new_pl_blue2_l{ background: url(../images/blogs/pl_blue2_l.png) 0 0 no-repeat; width: 12px; height: 26px; float: left; margin: 0 0 0 -10px; position: relative; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./_frameworks/main/new_age/images/blogs/pl_blue2_l.png', sizingMethod='crop');}
.blogs_new_pl_blue_r{ background: url(../images/blogs/pl_blue_r.png) 0 0 no-repeat; width: 12px; height: 26px; float: left; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./_frameworks/main/new_age/images/blogs/pl_blue_r.png', sizingMethod='crop');}
.blogs_new_pl_blue2_r{ background: url(../images/blogs/pl_blue2_r.png) 0 0 no-repeat; width: 12px; height: 26px; float: left; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./_frameworks/main/new_age/images/blogs/pl_blue2_r.png', sizingMethod='crop');}

.blogs_new_pl_blue_c{ background: #4f9694; height: 26px; margin: 0; line-height: 25px; float: left; border-radius: 15px; -moz-border-radius: 15px;}

.blogs_new_pl_blue2_c{ background: #2b8380; height: 26px; margin: 0; line-height: 25px; float: left; border-radius: 15px; -moz-border-radius: 15px; z-index: 3; position: relative; }

.blogs_new_pl_blue_img{ float: left; margin: 0 3px 0 -8px;}
.blogs_new_pl_blue_img img{ vertical-align: middle; position: absolute; margin: -4px 0 0 1px; }

ul.blogs_new_list{ margin: 0; padding: 0 10px 0 27px;}
ul.blogs_new_list li{ margin: 0; padding: 0; display: inline;}
ul.blogs_new_list li a{ color: #fff; text-decoration: none;}
ul.blogs_new_list li a:hover{ text-decoration: underline !important;}
.blogs_new .pl_blue{ background: url(../images/blogs/pl_blue_bg.png) 0 0 repeat; min-width: 20px; height: 26px; padding: 0; z-index: 2; position: relative; margin: 0px -10px 0 -10px; text-align: right;}

/*-- main_pl --*/
.bl_main_pl{  }
.bl_main_pl table{ width: 100%; table-layout: auto; }
.bl_main_pl h1{ float: left; margin: 0 20px 0 0; white-space: nowrap; }
.bl_main_pl h1.orange{ color: #ED7D3B; }
.bl_main_pl .main_pl{ width: 100%; }
.bl_main_pl .main_pl .cont{ background: #2B8380; height: 26px; margin: 0 10px 0 0; line-height: 25px; float: left; border-radius: 15px; -moz-border-radius: 15px; 1z-index: 3; position: relative; }
/*.bl_main_pl .main_pl .cont.darkgrey{ background: #ccc; }
*/.bl_main_pl .main_pl .pic{ float: left; margin: 0 3px 0 -8px; }
.bl_main_pl .main_pl .pic img{ vertical-align: middle; position: absolute; margin: -4px 0 0; }
.bl_main_pl ul.list{ margin: 0; padding: 0 10px 0 30px; }
.bl_main_pl ul.list li{ margin: 0; padding: 0; display: inline; }
.bl_main_pl ul.list li a{ color: #fff; text-decoration: none; }
.bl_main_pl ul.list li a:hover{ text-decoration: underline; }
.bl_main_pl .bg{ min-width: 30px; height: 26px; margin: 0 -10px 10px 0;  z-index: 2; border-radius: 15px 0 0 15px; -moz-border-radius: 15px 0 0 15px; background: url(../images/blogs/pl_blue_bg.png) 0 0 repeat; }
/*-- /main_pl --*/

/*-- narrow_pl --*/
.narrow_pl{ margin: 0 0 20px 0; height: 26px; background: url(../images/blogs/pl_blue_bg.png) 0 0 repeat; width: 225px; border-radius: 15px 0 0 15px; -moz-border-radius: 15px 0 0 15px; }
.narrow_pl .cont{ background: #4f9694; height: 26px; margin: 0; line-height: 25px; float: left; border-radius: 15px; -moz-border-radius: 15px; }
.narrow_pl .pic{ float: left; margin: 0 3px 0 -8px; }
.narrow_pl .pic img{ vertical-align: middle; position: absolute; margin: -4px 0 0; }
.narrow_pl ul.list{ margin: 0; padding: 0 10px 0 30px; }
.narrow_pl ul.list li{ margin: 0; padding: 0; display: inline; }
.narrow_pl ul.list li a{ color: #fff; text-decoration: none; }
.narrow_pl ul.list li a:hover{ text-decoration: underline !important;; }
/*-- /narrow_pl --*/


/*-- /narrow --*/
.blogs_new .line_dashed{ background: url(../images/blogs/line_dashed.gif) 0 0 repeat-x; height: 1px; line-height: 0; font-size: 0; padding: 0; margin: 0 0 10px; clear: both;}
.blogs_new_foot td.td_l{ background: url(../images/blogs/foot_l.png) 0 0 no-repeat; width: 9px; height: 71px; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./_frameworks/main/new_age/images/blogs/foot_l.png', sizingMethod='crop');}
.blogs_new_foot td.td_r{ background: url(../images/blogs/foot_r.png) 0 0 no-repeat; width: 9px; height: 71px; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./_frameworks/main/new_age/images/blogs/foot_r.png', sizingMethod='crop');}
.blogs_new_foot td.td_c{ background: #102418 url(../images/blogs/foot_decor.jpg) 98% 0 no-repeat; height: 71px; vertical-align:middle;}
/*-- paging --*/
ul.blogs_new_paging{ margin: 0 0 0 10px; padding: 0; float: left;}
ul.blogs_new_paging li{ margin: 0 5px 0 0; padding: 0; float: left; color: #a0dad9;}
ul.blogs_new_paging li a{ margin: 0; padding: 0; color: #a0dad9;}
ul.blogs_new_paging li.active{ font-weight: bold;}
/*-- /paging --*/
#imgs_uploads_add{cursor:pointer;}
#imgs_uploads{margin-top:10px;}
.blog_inp_file{margin-bottom:5px;}
a#text_b {font-weight:bold;text-decoration:none;cursor:pointer;font-size:12px;width:21px;height:20px;background: url(../images/blogs/blog_text_edit_bg.gif) no-repeat;float:right; color:#512525;text-align:center;}
a#text_i  {font-style:italic;text-decoration:none;cursor:pointer;font-size:12px;width:21px;height:20px;background: url(../images/blogs/blog_text_edit_bg.gif) no-repeat;float:right; color:#512525;text-align:center;}
a#text_u,a#text_u:hover {text-decoration:underline !important;cursor:pointer;font-size:12px;width:21px;height:20px;background: url(../images/blogs/blog_text_edit_bg.gif) no-repeat;float:right; color:#512525;text-align:center;}
a#text_s,a#text_s:hover {text-decoration:line-through !important ;cursor:pointer;font-size:12px;width:21px;height:20px;background: url(../images/blogs/blog_text_edit_bg.gif) no-repeat;float:right; color:#512525;text-align:center;}
div.blogs_new  div.bl_blogs_new_frm div.fl_right img#load_animation {top:-1px;}
div.bl_blogs_new_frm div.blogs_new_title_bl div.blogs_new_title a {line-height:13px;white-space:nowrap;overflow:hidden;}
div.bl_blogs_new_frm div.blogs_new_bl_m div.blogs_new_bl_infa div.blogs_new_title_bl  p {margin-bottom:-3px;}
div.blog_inp_file input {#height:18px;}
div.ABKFileText {line-height:normal;}
span.blog_style111 {background:url("../images/blogs/btn_blue_img.png") no-repeat scroll 0 0 transparent;width:118px;height:18px;line-height:normal;_behavior: url("./_frameworks/main/new_age/css/iepngfix.htc");position:relative;_top:1px;}
span.blog_style111 input {line-height:normal;width:118px;height:14px;#height:18px;vertical-align:top;}
.gecko span.blog_style111 input {top:1px!important;position:relative;}
span.blog_style222 {background:url("../images/blogs/inp_lblue.png") no-repeat scroll 0 0 transparent;width:313px;height:18px;float:left;line-height:normal;position:relative;left:-22px;_behavior: url("./_frameworks/main/new_age/css/iepngfix.htc");_top:1px;}
span.blog_style222 input {line-height:normal;width:300px;height:14px;position:relative;left:5px;top:1px!important;#height:18px;vertical-align:top;}
span.blog_style333 {float:right;background:url("../images/blogs/btn_blue.png") no-repeat scroll 0 0 transparent;width:67px;height:18px;line-height:normal;position:relative;left:-18px;_behavior: url("./_frameworks/main/new_age/css/iepngfix.htc");_top:1px;}
span.blog_style333 input {line-height:normal;width:65px;height:14px;position:relative;#height:18px;vertical-align:top;}
.gecko span.blog_style333 input {top:1px!important;}


.webkit table.blogs_new_tb_sub_r {table-layout:auto;}

.bl_blogs_new_frm .player_custom {opacity: 0;}
.bl_blogs_new_frm .player_custom.to_show {opacity: 1; transition: opacity .3s;}