.userlist {width:100%;}
.userlist td.next {font-size:24px;line-height:28px;text-align:center;vertical-align:middle;}
.userlist td.next a {padding:12px;}
.userlist td.user {width:50%;padding:5px;background:#333333;}
.userlist td.user table {width:100%;border-collapse:collapse;}
.userlist td.user table th {width:64px;padding:0 4px 0 0;text-align:right;}
.userlist td.user table th div {max-width:62px;height:70px;padding:0;border:1px solid #EADE9B; margin:0 auto;background:url('') no-repeat 50% 0;}
.userlist td.user table th div a {height:16px;padding:54px 3px 0 3px;display:block;font-size:10px;line-height:12px;text-decoration:none;color:#fbebbc;}
.userlist td.user table td {padding:0 4px 0 0;}
.userlist td.user table td p {font-size:12px;line-height:18px;}
.userlist td.user table td p.name {margin:0 0 4px 0;font-weight:bold;line-height:14px;}
.userlist td.user table td p a {color:#fff;}

.ublack td.user {background:#000;}
.ublack td.user table th div {border:1px solid #fff;}