.brd{border:1px solid red;}
.im_oryx { width:317px; height:388px; position: fixed; visibility:hidden; left: 0px; top: 135px; /*z-index: 300 !important;*/ }

.im_top { width:293px; height:20px; background:url("../images/im/im_top.png") 0 0 no-repeat transparent; padding:10px 12px 0 12px;}
.im_top img{width:29px; height:14px; float:right; margin-right:8px; cursor:pointer;}
.im_top div {height:14px; font: bold 10px Tahoma, sans-serif; color:#fff; text-align:left; padding:2px 8px}

.im_body { width:293px; height:301px; background: url("../images/im/im_bg.png") 0 0 repeat-y transparent; padding:0 12px; font: 12px Arial; overflow:hidden;}
.im_body .message{width:260px; margin:4px 8px;font: 12px Arial; border-collapse:collapse; }
.im_body .message th{position: relative; width:45px; margin:0; padding:0; vertical-align:top;}
.im_body .message th a img.is_writing{position:absolute; top:30px; right:10px; width:21px; height:9px;}
.im_body .message td{ width: 200px; text-align:left; margin:0; padding:0; vertical-align:top; line-height: 18px;}
.im_body .message td div{ word-wrap: break-word; width: 210px; }
.im_body h3{color:#A30636; font-weight:normal; padding:0px;margin:0px 0 3px;font: 12px Arial;}
.im_body a{color:#A30636;}
.im_body img{ border-radius: 5px; }
.im_body span{color:#ababab; font-size:10px;}
img.read {margin-left: 3px;}

/*.im_bottom { width:317px; height:57px; background:url("../images/im/im_bottom.png") 0 0 no-repeat transparent; }*/
.im_bottom_1 { width:317px; height:15px; background:url("../images/im/im_bottom_1.png") 0 0 no-repeat transparent; }
.im_bottom_2 { width:317px;background:url("../images/im/im_bottom_2.png") 0 0 repeat-y transparent; }
.im_bottom_3 { width:317px; height:31px; background:url("../images/im/im_bottom_3.png") 0 0 no-repeat transparent; }
.im_bottom_2 .msg_field{ width:260px; height:15px; font: 12px Tahoma, sans-serif; line-height: 16px; color: #000; margin:0px 12px 0px 27px; border:0px;}

.im_oryx .smile img {
/*margin: 0px -2px -2px 0px;
position: relative;
right: 2px;*/
    vertical-align: bottom;
    margin: 0 0 -2px 0 ;
    position: relative;
}

img.read {padding-left: 3px;}
.loader{width:280px; padding:28px 0px; background:url("../images/loader.gif") 50% 22px no-repeat transparent;}


.im_body .message .original_message{display:none;}
.im_body .message .show_original_message{background: url(../img/icons.png) 0px -1642px no-repeat; width:20px; height:20px;z-index:5;}
.im_body .message .show_original_message img{border-radius:0;}
