/**,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}*/

html, body, .st-container, .st-pusher {
	width:100%; height: 100%; margin:0;
}
.st-content, .st-content-inner {position: relative; height: 100%;}
.st-content {
    overflow: hidden;
	-webkit-transition: all .5s; transition: all .5s;
	/*-webkit-filter: brightness(1) grayscale(0); filter: brightness(1) grayscale(0);*/
	-will-change: transform;
	/*background: #f3efe0;*/
}
body>.st-content-inner {min-width:320px}
.st-container {
	position: fixed;
}

.st-pusher0 {
	position: absolute;
	left: 0; top:0;
	z-index: 99;
	-webkit-transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;
	perspective: 500px;
	/*will-change: transform;*/
}

.st-content-shadow, .st-menu::after, .st-pusher0::before {
	content: ' ';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
	z-index: -1;
	-webkit-transition: .6s linear, z-index 0s .6s; transition: .6s linear, z-index 0s .6s;
	backface-visibility: hidden;
}
.st-menu::after {z-index:100}
.st-menu-open .st-menu::after {
	visibility: hidden; opacity:0.01
}
.st-menu-open .st-content-shadow {
	z-index:100; opacity: 0.45;
	-webkit-transition-delay: 0s; transition-delay: 0s;
}
.st-menu-open .st-content, .st-container:not(.st-menu-open) .st-menu {
	cursor:pointer;
}
/*.st-menu-open .st-content {
	-webkit-filter: grayscale(0.6) brightness(.6);
	filter: grayscale(0.6) brightness(.6);
}
.no-filter .st-content {opacity: .5}*/

.st-menu, .st-pusher0::before {
	box-shadow: 0 0 5px 5px rgba(0,0,0,.41);
	position: absolute;
	top: 0; left: -265px;
	z-index: 101;
	/*visibility: hidden;*/
	width: 260px;
	height: 100%;
	background: #32394a;
	-webkit-transition: all 0.7s; transition: all 0.7s;
	overflow:hidden;
	-will-change: transform;
}
.st-pusher0::before {
	left: -1px; width: 1px; opacity:.41;
	-webkit-transform: translate3d(-10px, 0, 0);
	transform: translateX(-10px);
}

	/*width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;*/

/* Individual effects */
/* Effect 3: Push*/

.st-effect-3 .st-content {
	-webkit-transform: translate3D(7px, 0, 0);
	transform: translate3D(7px, 0, 0);
	-webkit-transition: all 0.6s; transition: all 0.6s;
}
.st-effect-3.st-menu-open .st-content {
	-webkit-transform: translate3d(25px, 0, -1px);
	transform: translate3D(25px, 0, -1px);
}
.st-effect-3 .st-menu, .st-effect-3 .st-pusher::before {
	-webkit-transform: translate3d(20px, 0, 0);
	transform: translate3D(20px, 0, 0);
}
.st-effect-3.st-menu-open .st-menu, .st-effect-3.st-menu-open .st-pusher::before {
	-webkit-transform: translate3d(265px, 0, 0);
	transform: translate3d(265px, 0, 0);
}

/* content style */

.st-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.st-menu h2 {
	margin: 0;
	padding: 1em;
	color: rgba(0,0,0,0.4);
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	font-weight: 300;
	font-size: 2em;
}

.st-menu ul li a {
	display: block;
	padding: 1em 1em 1em 1.2em;
	outline: none;
	box-shadow: inset 0 -1px rgba(0,0,0,0.2);
	color: #f3efe0;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	letter-spacing: 1px;
	font-weight: 400;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.st-menu ul li:first-child a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.st-menu ul li a:hover {
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
	color: #fff;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .st-pusher,
.no-js .st-pusher {
	padding-left: 260px;
}
