*{margin: 0; padding: 0;}

table{border-collapse: collapse; border: none;}

table td{1font-size: 12px;}
table.chat{position: absolute; height: 422px; font: 12px/14px Tahoma, Verdana, sans-serif;}
.chat td.sh-r{width: 17px; height: 390px;
background: url(./images3/sh-r.png);
}
.chat td.sh-l{width: 12px;
background: url(./images3/sh-l.png);
}

.chat td.sh-t{height: 10px; width: 373px;

background: url(./images3/sh-t.png);

}

.chat td.sh-b{height: 22px;

background: url(./images3/sh-b.png);

}

.chat td.chatcont{width: 345px; background: url(./images3/cont-bg.jpg); vertical-align: top;}



table.chathead{width: 100%;}

.chattitle{padding-left: 8px; width: 100%; cursor: move; height: 45px;}

.chaticons ul{width: 36px; height: 38px; background: url(./images3/icon_close.gif);}

/*.chaticons ul{width: 72px; height: 38px; background: url(./images3/icons.gif);}*/

.chaticons ul li{width: 30px; height: 30px; float: left; display: block; margin: 3px 2px 0; cursor: pointer; cursor: hand;}



table.chatmain{width: 100%;}

.chatmain td{vertical-align: top;}

.chatmain .chatbody{margin: 9px 8px 0px 10px; width: 212px; height: 279px; overflow: auto; background: #FFD800 url(./images3/chatbody-bg.jpg) repeat-x 0 0; border: 1px solid #23647A;}

.chatbody .cumsg{padding: 1px 5px; color: #000000; text-align: left;}

.chatbody .odd{color: #a76b16; text-align: left;}

.cumsg .cunick{font-weight: bold;}



form.cinput{margin: 10px 0px 0px 10px; position: relative;}

.cinput input{background: #D3EAEE url(./images3/cinput-bg.jpg) repeat-x 0 0; width: 212px; border: 1px solid #23647A; height: 19px !important; height /**/: 27px; color: #195A70;}

.cinput .csubmit{position: absolute; width: 95px; height: 66px; background: url(./images3/btn-send.gif); cursor: pointer; cursor: hand; right: -107px; top: -30px}



td.chatside{width: 100%;}

.cname{width: 92px; height: 73px; margin-left: 18px; text-align: center; position: relative; z-index: 6;

background: url(./images3/bubble.png);

}

.cname h3{line-height: 50px; font-size: 17px; color: #2E6F85; display:block; overflow:hidden; width:60px; height:50px;}

.cphoto{margin: -21px 0 0 5px; background: url(./images3/photo-frame.gif) no-repeat; width: 106px; height: 116px; position: relative; z-index: 5;}

* html .cphoto{margin-left: 7px !important; margin-left /**/: 9px;}

.cphoto img{position: relative; top: 7px; left: 7px;}

.cdesc{margin: 0 10px 0 15px; list-style: none; font-size: 9px !important; line-height: 12px; color: #FFF !important;}

.cdesc li{padding: 1px 4px; display: block; text-align: left;}

.cdesc li.odd{background: #8AA5AF; border-right: 2px solid #6398AA; text-align: left;}

.cdesc span{font-weight: bold;}


.chatbody {position: relative;}
.smile img {
  position: relative;
  margin: -3px -2px -8px 0;
  right: 2px;
}
* html .smile img {display: none;}
* html .smile {
  display: inline-block;
  width: 21px;
  height: 21px;
  position: relative;
  margin: -3px -2px -8px 0;
  right: 2px;
}
